body{
	
margin:0;
padding:0;
background-color:#ffaa00;
	
}

.container{

position: relative;
height: 100vh;
width: 100vw;

}

#car{

position: absolute;
width:80px;
height: 160px;
z-index: 10;
left: calc(50% - 40px);
bottom:0;

}

#car img{
object-fit: cover;
width: 100%;
}
